
ul {
  list-style: none;
}


.order-details-number {
  font-size: 24px;
  font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
  line-height: 32px;
  font-weight: 300;
  white-space: nowrap;
  padding: 0 0 6px 0;
}

.printer-order-details-price {
  padding: 6px 0 0 0;
}


.printer-list-templates {
  margin-left: 0px;
}

/* Previews */

.printer-preview-wrapper {
  border: 1px solid #ECECEC;
  margin-bottom: 20px;
}

.printer-preview-content {
  padding: 24px;
}

.printer-template-name {
  border: 0;
  margin: 0;
}