<div id="printer-inline-preview-<%= tmpl.id %>">
  
  <!-- new preview -->
  <div class="printer-preview-top" >
    <div class="printer-template-actions">
      <h3 class="heading printer-template-name"><%= tmpl.name %> &nbsp;</h3>
    </div>
  </div>
    <div class="printer-preview-content">
      <% if safe %>
        <%= sanitize(rendered_template) %>
      <% else %>
        <%= rendered_template %>
      <% end %>
    </div>
</div>