.section { position:relative; padding:25px 0; border-bottom:1px solid #e6e6e6;
  &.row { margin:0 15px 0 15px; }
  &.buttons { border-top:none; border-bottom:none; padding:20px 0 20px 35px; background:#fff;
    > .btn { margin-left:5px; }
    > .btn.fl { margin-left:0; margin-right:5px; }
  }
  &.first-section { padding-top:20px; }
  &.last-section { padding-bottom:20px; border-bottom:none; }
  > .section-summary { float:left; padding-left:35px; padding-right:25px;
    h1 { font-family:'ProximaNovaLight', $body_font; font-size:18px; margin-bottom:10px; font-weight:300; }
    p { margin-bottom:15px; color:#777; }
  }
  > .section-content { float:right; padding-right:0; }
  .subsection { margin:5px 0 10px 30px; position:relative; padding:15px; border:1px solid #e6e6e6; background:#f6f6f6;
    &:before { overflow:hidden; display:block; width:15px; height:33px; position:absolute; top:0px; left:-22px; content:url(image-path("admin2/resources/indent-arrow.png")); background-position:0 100%; }
  }
}