.theme-container { padding:0 5px;
  &:nth-child(odd) { padding-left:0; padding-right:10px; }
  &:nth-child(even) { padding-right:0; padding-left:10px; }
}
.theme-card { margin-bottom:20px; border:1px solid #d8d8d8; @include rounded;
  .theme-header { padding:10px; border-bottom:1px solid #ededed; 
    .theme-name { display:block; float:left; }
    .theme-role { float:right; color:#777; font-size:12px; padding:0 0 0 28px; margin:0 !important; border:0; }
    .preview-theme { font-weight:400; margin-left:4px; color:#777; font-size:12px; }
  }
  .theme-body { padding:5px 0; }
  .theme-footer { padding:6px 6px 4px 6px; background:#fafafa; border-top:1px solid #d0d0d0; @include border-radius(0,0,3px,3px); }
  .theme-actions { display:block; margin:0; list-style:none; 
    .theme-heading { display:block; font-weight:700; padding-bottom:2px; }
    .theme-label { display:block; color:#666; font-size:12px; }
    a { position:relative; display:block; padding:8px 10px 8px 40px; @include rounded(0px);
      &:hover { text-decoration:none; color:#fff; background:#479ccf;
        .theme-label { color:#0e3a54; }
      }
    }
  }
  .ico-theme-settings, .ico-template-editor { position:absolute; left:10px; top:9px; }
}

.theme-roles {
  .theme-role { @include box-sizing; width:50%; padding:15px; float:left;
    &.main-theme { padding-left:0;
      a { background:url(image-path('admin2/resources/icn-main-large.png')) no-repeat 50% 77px; }
    }
    &.mobile-theme { padding-right:0;
      a { background:url(image-path('admin2/resources/icn-mobile-large.png')) no-repeat 50% 68px; }
    }
    &.is-selected {
      a, a:hover { border-color:#4c90ee; @include box-shadow(0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset); }
    }
    a { display:block; width:100%; text-align:center; height:280px; padding:195px 30px 0 30px; border:1px solid #ddd; @include rounded(8px); text-decoration:none; @include box-sizing;
      &:hover { text-decoration:none; border-color:#bbb; }
    }
  }
  .theme-heading { display:block; text-align:center; font-size:13px; font-weight:700; color:#000; }
  .theme-subheading { display:block; text-align:center; font-size:12px; font-weight:400; color:#999; }
}
.theme-settings-form {
  table { width: 294px; }
  tr {
    th, td { width:100%; float:left; clear:left; display:block; border:none; vertical-align:top; padding:15px 0 2px 0; text-transform:none; text-align:left; font-weight:400; font-size:12px; color:#666; line-height:16px; @include box-sizing; }
    th + td, td + td { padding:2px 0 15px 0; border-bottom:1px solid #e6e6e6;
      &:last-child { padding-bottom:15px; }
    }
    th:only-child, td:only-child { padding:20px 0 10px 0; }
    &.horizontal { display:table; width:100%;
      th, td { float:none; clear:none; width:100%; vertical-align:middle; display:table-cell; border-bottom:1px solid #e6e6e6; padding:10px 0; }
      th + td, td + td { white-space:nowrap; padding-left:6px; }
      select { max-width:120px; }
    }
    &:last-child {
      th, td { border-bottom:none; }
    }
  }
  h2.heading { background:#f6f6f6 $icon_sprite no-repeat -6px -2908px; cursor:pointer; margin:0; padding:8px 8px 8px 26px; font-size:13px; color:#666; border-bottom:1px solid #e3e3e3; @include user-select;
    &:hover { color:#000; background-color:#f0f0f0; }
    &.section-expanded { color:#332104; background-color:#fcf5d9; background-position:-6px -407px; }
    &.is-fixed { position:fixed; z-index:50; top:48px; width:261px; border-bottom:none; @include box-shadow(0 3px 2px -2px rgba(0, 0, 0, 0.4));
      & + fieldset { padding-top:43px; }
    }
  }
  label { font-size:12px; margin:0; color:#222; font-weight:400;
    &[for]:hover { cursor:pointer; }
  }
  legend { display:none; }
  fieldset { padding:0 8px; height:auto; overflow:hidden;
    &.collapsed { height:0; padding:0; visibility: hidden; }
  }
  input { @include box-sizing;
    &:focus { outline:none; border:1px solid #4c90ee; }
    &[type=file] { margin:0 0 4px 0; height:auto; }
    &.color { width:60px; height:auto; @include border-radius(3px,0,0,3px); }
  }
  hr { display:none; }
  label { display:inline; }
  p { margin-bottom:5px; }
  .upload-note { font-size:10px; color:#999; margin:0; }
  table.standard-table { border:1px solid #e6e6e6; padding:5px; }
  .save-as-preset { padding:10px 0 10px 0;
    > span { line-height:22px; font-size:12px; }
  }
}
#themes-show {
  div.page { padding-top:0px; }
  .asset-listing { position:relative; background:#fff; padding:30px 0 0 0; height:100%; overflow:auto; overflow-x:hidden; border:1px solid #e6e6e6; border-right:none; padding-bottom:40px;
    .heading { font-family:"Lucida Grande", sans-serif; margin-bottom:0px; border:none; padding:5px 8px 5px 17px; background:$icon_sprite no-repeat -11px -411px; cursor:pointer; font-size:11px; color:#000; @include user-select;
      &:hover { background-color:#f6f6f6; }
      &.is-collapsed { background-position:-11px -2911px; }
      &.is-collapsed + ul { display:none; }
      > span { display:block; padding-left:21px; background:url(image-path('admin2/resources/images/ico-mime-types.png')) no-repeat -17px -253px; }
    }
    ul { display:block; list-style:none inside none; margin:0; padding-bottom:5px; }
    li { margin:0; padding:0;
      &.is-active a { font-weight:700; color:#000; background-color:#f6f6f6; }
    }
    .add { font-family:"Lucida Grande", sans-serif; font-size:11px; display:block;  padding:3px 10px 3px 40px; color:#3084CA; text-decoration:underline; padding:5px 10px 5px 20px; background-image:none;
      &:hover { background-color:#f6f6f6; }
    }
    .theme-file { font-family:"Lucida Grande", sans-serif; color:#444; font-size:11px; display:block; padding:3px 10px 3px 40px; background:url(image-path('admin2/resources/images/ico-mime-types.png')) no-repeat 0px -127px;
      &:hover { color:#000; text-decoration:none; background-color:#f6f6f6; }
      &.file-type-png, &.file-type-gif, &.file-type-jpg {
        background-position:0px -48px;
      }
      &.file-type-css { background-position:0px -287px; }
      &.file-type-js { background-position:0px -8px; }
      &.file-type-liquid { background-position:0px -208px; }
      &.file-type-html { background-position:0px -87px; }
    }
    .asset-search { position:absolute; top:0px; left:0px; height:30px; width:100%; border-bottom:1px solid #e6e6e6; padding:5px 10px; background:#f0f0f0; @include box-sizing;
      input { font-size:11px; padding:2px 4px; height:19px; @include box-sizing; width:100%; }
    }
  }
  .file-overview { padding:7px; background:#fafafa; border-bottom:1px solid #e6e6e6; position: absolute; z-index: 50; top: 30px; left: 0; width: 100%; @include box-sizing();
    h3 { padding-left:10px; line-height:28px;
      .view-older-versions { padding-left:4px;
        a { font-weight:400; font-size:12px; }
      }
    }
    .delete-icon { background-position:-16px -2113px; }
  }
  .theme-asset-actions { position:absolute; right:10px; }
  .editor { position:relative; height:100%; padding:0 0 103px 0; border:1px solid #e6e6e6; background:#fafafa url(image-path('admin2/resources/theme-editor-open-file.png')) no-repeat 50% 50%; @include box-sizing;
    .editor-settings-bar { position:absolute; z-index:190; bottom:0; left:0; border-top:1px solid #e6e6e6; height:30px; width:100%; background:#f0f0f0; padding:0 10px; @include box-sizing;
      label, select, input { display:inline; float:none; }
      label { font-weight:400; color:#666; line-height:30px; font-size:12px; }
      select { margin-top:5px; }
      input { margin-top:9px; }
    }
    .editor-option { display:inline; margin-right:20px; }
  }
  .settings-message { margin:10px 0 0 0; }
  .template-editor-tabs { border-bottom:1px solid #e6e6e6; list-style:none; padding:6px 6px 0 6px; margin:0; background:#f0f0f0; height:30px; overflow:hidden; @include box-sizing; margin-bottom: 43px; }
  .template-editor-tabs li { background:#f0f0f0; float: left; padding:2px 7px; border:1px solid #d6d6d6; border-bottom:none; margin:0 2px; font-size:11px; cursor: pointer; @include border-radius(3px,3px,0px,0px);
    &.active { background:#fff; border-color:#cacaca; font-weight:700; }
    &.has-changes {
      .close-file { background-position:-17px -372px; }
    }
    a { display:block; float:left; color:#000; }
    .close-file { position:relative; top:2px; left:3px; text-indent:-9999px; width:15px; height:15px; background:url(image-path('admin2/resources/images/ico-mime-types.png')) no-repeat -18px -413px; @include rounded(15px);
      &:hover { background-color:#e6e6e6; }
    }
  }
}