@import "variables";
@import "mixins";

$timelineCircleDiameter: 26px;
$timelineLeftGutter: $timelineCircleDiameter/2;
$timelineLineWidth: 3px;
$contentLeftPadding: $timelineCircleDiameter + 15;

.timeline { position: relative; }
.timeline-line { position: absolute; top: 0; left: $timelineLeftGutter; width: $timelineLineWidth; height: 100%; background: #eee; }

.timeline-flag { width: 30%; font-size: 12px; text-transform: uppercase; color: #999; background: #f5f5f5; padding: 5px 10px 5px $timelineCircleDiameter; margin: 20px 0 0 $timelineLeftGutter; }
.timeline-item { position: relative; margin: 0; }

.timeline-ico { background: #657880; border: solid 2px #fff; position: absolute; top: 14px; left: 0; z-index: 2; width: $timelineCircleDiameter; height: $timelineCircleDiameter; line-height: $timelineCircleDiameter; @include rounded($timelineCircleDiameter); text-align: center;
  .ico { margin-top: 5px; }
  &.success { background: #94c140; }
  &.failure { background: #d55129; }
}

.timeline-item:last-child .timeline-content { border-bottom: none; }

.timeline-content { padding: 20px 0 20px $timelineCircleDiameter; margin-left: $timelineLeftGutter; border-bottom: solid 1px #ececec;
  .table-dropdown { margin: 0 0 -20px $timelineCircleDiameter*-1; outline: none; border-top: solid 1px #ddd; }
  .table-dropdown .table-dropdown-icon { left: 20px; }
}

.timeline-datetime { float: left; font-size: 12px; color: #999; margin: 0 15px 10px 0; }

.timeline-expanded-event { margin-top: 8px; }

.timeline-item-type-announcement { background: #f9fbfd; }
.timeline-item-type-announcement .activity-message { font-weight: bold; }
.timeline-item-type-announcement .timeline-ico { background: #94c140; }
