<div class="login-content">
  <h1 class="login-app-banner"><%= APP_NAME %></h1>

  <p>Invoices, Package Slips and other customizable templates for your orders in <%= link_to "Shopify", "http://www.shopify.com" %>.<br />
  Comes with pre-made templates that are fully customizable, very similar to the email templates found in Shopify's preferences.</p>
  
  <% form_tag '/login/authenticate' do %>
    <div class="login-field">
      <h3 class="heading">Enter your Shopify store address</h3>
      <span class="login-hint">.myshopify.com</span>
      <%= text_field_tag 'shop', nil, :placeholder => 'your-store-name' %>
    </div>
  
    <div class="box tr login-subdiv">
      <span class="login-freetrial">Don’t have a Shopify account yet? <a href="http://shopify.com">Start your 30 day free trial.</a></span>
      <input class="btn" type="submit" value="Add this App to my store" name="login">
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
$(":text:visible:enabled:first").focus();
<% end %>