<header id="header">
  <div class="wrapper clearfix">
    <h1><a data-section="dashboard" class="logo" href="https://myshopify.com/admin">Dashboard</a></h1>
    <a class="back-to-admin" href="https://myshopify.com/admin"><i class="ico ico-16 ico-back-to-admin"></i>Back to admin</a>  

    <nav class="header-text">
      <span class="user-overview" data-dropdown="~ .dropdown">
        <img class="gravatar gravatar-small fl" src="#">
        <span>Christopher</span> <span>Lobay</span>
        <i class="ico ico-16 ico-disclosure"></i>
      </span>
      <div class="dropdown">
        <ul>
          <li><a href="/admin/support" target="shopify-support">Support</a></li>
          <li><a href="#" target="shopify-forum">Forums</a></li>
          <li class="break-top"><a href="http://shopify.com/legal/terms" target="_blank">Terms of Service</a></li>
          <li class="break"><a href="http://shopify.com/legal/privacy" target="_blank">Privacy Policy</a></li>
          <li style="display: none !important; "><a href="/admin/friendships">Want Shopify for free?</a></li>
          <li><a href="/admin/friendships">Are you keeping Shopify a secret?</a></li>
          <li><a href="/admin/auth/logout">Log out</a></li>
        </ul>
      </div>
    </nav>
    <section class="global-search">
      <form class="global-search-form">
        <input type="text" id="global-search-input" class="global-search-input">
        <a class="global-search-input-clear" href="#" style="display: none !important; ">Clear search</a>
      </form>
      <div class="global-search-results hide">
        <div class="global-search-results-summary">
          <p>No results found.</p>
          <a href="/admin/search?query=" style="display: none !important; ">View all search results</a>
        </div>
      </div> <!-- /.global-search-results -->
    </section>
  </div> <!-- /.wrapper -->
</header>