<style>
#op-modal-overlay{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.6);z-index:100}#op-modal{position:fixed;top:300px;left:50%;width:620px;margin:0 0 0 -310px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.2);border-radius:3px;-o-transition:top .15s ease-in-out 0s;-webkit-transition:top .15s ease-in-out 0s;-moz-transition:top .15s ease-in-out 0s;z-index:200;font:14px/24px 'Helvetica Neue',Helvetica,Arial,sans-serif}#op-modal header{position:relative;margin:0;padding:15px 20px;border-bottom:1px solid #e6e6e6}#op-modal header .close{opacity:.7;display:block;position:absolute;top:17px;right:17px;font-size:20px;line-height:20px;color:#999;text-decoration:none}#op-modal header h2{margin:0;font-size:20px;font-weight:300}#op-modal .body{padding:20px;max-height:400px;overflow:auto;-o-transition:max-height .15s ease-in-out 0s;-webkit-transition:max-height .15s ease-in-out 0s;-moz-transition:max-height .15s ease-in-out 0s}#op-modal .buttons{padding:15px 20px;margin:0;background:0;border-top:1px solid #e6e6e6;border-bottom:0;text-align:right;border-bottom-left-radius:3px;border-bottom-right-radius:3px}#op-modal .buttons:after{clear:both;content:' ';visibility:hidden}#op-modal .buttons .btn{font-weight:500;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer;display:inline-block;height:32px;line-height:30px;padding:0 9px;color:#000;font-size:14px;border:1px solid #d0d0d0;text-shadow:1px 1px 0 #fff;border-radius:2px;background:#f4f4f4;text-decoration:none;white-space:nowrap;text-transform:none;vertical-align:middle;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;-webkit-appearance:none}#op-modal .buttons .btn.op-link{color:#fff;border-color:#7ea13d;background:#96bf48;text-shadow:1px 1px 0 rgba(0,0,0,0.3)}
</style>
<div id="op-modal-overlay"></div>
  <div id="op-modal">
    <header>
      <h2>Goodbye PixelPrinter, hello Order Printer!</h2>
      <a href="#" class="btn close">&times;</a>
    </header>
    <div class="body">
      <p>PixelPrinter has been replaced by our new free printing App called Order Printer.</p>
      <p>This new app is a step above PixelPrinter, with great default templates, the ability to print in bulk, and a new interface that is directly embedded within your Shopify admin.</p>
      <p>If you don't have it installed already, visit the App Store to <a href="http://apps.shopify.com/order-printer">install Order Printer for free</a>.</p>
      <p>Enjoy Order Printer, and thanks for using Shopify!</p>
    <div class="buttons">
      <a href="http://orderprinter.shopifyapps.com" class="btn op-link">Start using Order Printer!</a>
    </div>
  </div>
</div>
<script>
$(function(){function expire_date(){var e=new Date();e.setTime(e.getTime()+14400000);return e.toGMTString()};$("#op-modal .close").click(function(e){e.preventDefault(),document.cookie="op_modal_hidden=1; expires="+expire_date(),$("#op-modal, #op-modal-overlay").hide()}),$("#op-modal .op-link").click(function(){document.cookie="op_modal_hidden=1; expires="+expire_date()}),$("#op-modal-overlay").click(function(){$("#op-modal, #op-modal-overlay").hide()})});
</script>